* {
    padding: 0;
    margin: 0;

}

/* html{
    scroll-snap-type: y mandatory;
}

section{
    scroll-snap-align: center;
} */

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.title-page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1E1E1E;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(2.8px);
    z-index: 0;
}

.victory_logo {
     width: 150vw; 
    z-index: 1;
    left: 0%;
    right: 0%;

    animation: myAnim .6s ease-out 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

#header {
    width: 100%;
    height: 101px;
     background-color: #1E1E1E; 
    position: fixed;
    z-index: 1111;
    display: flex;
    align-items: center;
    
    transition: ease-in-out;
    transition-duration: 300ms;
    overflow: hidden;
}


#header>img {
    left: 8%;
    width: 91px;
    height: 86.054px;
    flex-shrink: 0;
    position: relative;
}

#header.hidden{
    transform: translateY(-100%);
}


.botonera {
    
    display: flex;
    left: 20%;
    justify-content: space-around;
    align-items: center;
    position: relative;

    transition: ease-in-out;
    transition-duration: 300ms;
}


.botonera>button {
    all: unset;
    display: flex;
    
    height: 39px;
    padding: 7px 29px 4px 29px;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid #1E1E1E;
    background: #1E1E1E;
    color: #FFF;
    font-family: Consolas;
    font-size: 26px;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: ease-in-out;
    transition-duration: 150ms;
}

.botonera>button:hover {
    cursor: pointer;
    border-bottom: 1px solid #F52F30;
    color: #1E1E1E;
    background-color: white;
}

/*---------------*/

.clases {
    width: 100%;
    margin: 0;
    display: flex;
    flex-grow: 0;
    /* height: 543px; */
    height: auto;
    background-color: #1E1E1E;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.block {
    background-color: blanchedalmond;
     width: 442px; 
    
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    height: 543px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    flex-wrap: wrap;
}
.block:hover .image {
    filter: saturate(1);
}
.block:hover .title {
    font-size: 40px;
}
.block:hover .bloquecito {
    height: 60%;
}

.image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    filter: saturate(0.1);
    transition: ease-in-out;
    transition-duration: 300ms;
}

.title {
    text-align: center;
    background: none;
    z-index: 3;
    position: absolute;
    padding-bottom: 35px;
    color: white;
    font-size: 35px;
    font-family: "Anton", sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 12px #ff1307a1, 0 0 20px #ff2c07c3;
    transition: ease-in-out;
    transition-duration: 300ms;
}

.funcional>.title {
    text-shadow: 0 0 12px rgba(220, 142, 14, 0.41), 0 0 20px rgba(220, 141, 14, 0.573);
}

.funcional>.bloquecito {
    background: radial-gradient(circle at 80% 60%, rgba(220, 141, 14, 0.678), rgba(38, 38, 38, 0.95));
}

.openbox>.title {
    text-shadow: 0 0 12px rgba(14, 96, 220, 0.747), 0 0 20px rgba(14, 96, 220, 0.681);
}

.openbox>.bloquecito {
    background: radial-gradient(circle at 80% 60%, rgba(14, 96, 220, 0.747), rgba(38, 38, 38, 0.95));
}

.musculacion>.title{
    text-shadow: 0 0 12px rgba(220, 107, 14, 0.747), 0 0 20px rgba(220, 107, 14, 0.747);
}

.musculacion>.bloquecito{
    background: radial-gradient(circle at 80% 60%, rgba(220, 107, 14, 0.747), rgba(38, 38, 38, 0.95));
}

.bloquecito {
    width: 100%;
    height: 0;
    background: radial-gradient(circle at 80% 60%, rgba(255, 19, 7, 0.631), rgba(38, 38, 38, 0.95));
    bottom: 0;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:ease-in-out;
    transition-duration: 300ms;
}

.bloquecito>p {
    color: white;
    text-indent: 20px;
    text-align: left;
    padding: 20px;
    height: 60%;
    font-family: "Anton", sans-serif;
    font-size: clamp(8px, 15px, 30px);
    font-weight: 50;
    letter-spacing: 2px;
    text-shadow:  20px black;
    max-width: 800px;
}



/* ............... */

.horarios-page {
    height: 120vh;
    width: 100%;
    background-color: #1E1E1E;
     /* overflow: hidden;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow-x: auto; */
}

.titulo {
    color: #FFF;
    font-family: Consolas;
    font-size: 63.232px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: normal;
    z-index: 1;
    font-size: clamp(2rem,5vw,5rem);
}


.horarios-page>.fondo-horario {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit:cover;
    filter: blur(2.8px);
    z-index: 0
}

.parent {
    /* width: 5vw; */
    position: relative;
    z-index: 1;
    scrollbar-width: none;
}

.parent {
    /* padding: 50px 120px 0px 120px; */
    display: grid;
    grid-template-columns: 75px repeat(6, 1fr);
    gap: 20px;
    overflow: auto;
    width: 80vw;
    
}

.dia,
.tiempos {
    display: flex;
    flex-direction: column;
}

.dia>div,
.tiempos>div {

    
    height: 30px;
    
}

.tiempos>div {
    height: 15px;
    margin-bottom: 4px;
    padding: 19.092px 9.725px 17.166px 15.792px;
    background-color: transparent;
    color: white;
    font-family: Consolas;
    font-weight: lighter;
    display: flex;
    justify-content: left;
    align-items: center;
}

.dia>.day {
    background: none;
    font-family: Consolas;
    font-style: italic;
    font-size: 18px;
}

.dia>div {
    display: flex;
    width: 150px;
    height: 15px;
    padding: 19.092px 9.725px 17.166px 15.792px;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    color: white;
    font-family: Roboto;
    text-align: center;
    
}
.black{
    background: #1e1e1e9d;
}
.func_cross {
    background: linear-gradient(90deg, rgba(252, 163, 17, 0.41) 0%, rgba(245, 47, 48, 0.41) 100%);
}

.func {
    background: rgba(220, 142, 14, 0.41);
}

.cross {
    background: rgba(245, 47, 48, 0.41);
}

.open {
    background: rgba(14, 96, 220, 0.41);
}

/* ............. */


.what-btn {
    background: transparent;
    /* background-color: #25D366; */
    color: white;
    width: 50px;
    /* width: auto; */
    /* width: 150px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 5px 5px 1px;
    /* padding: 5px 140px 5px 20px; */
    border-radius: 50px;

    /* border: 3px solid white; */
    border: 3px solid black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    overflow: hidden;
    transition: ease-in-out;
    transition-duration: 300ms;
}

.what-btn>p {
    color: transparent;
    width: 0;
    transition: ease-in-out;
    transition-duration: 300ms;
}

.what-btn:hover,
.what-btn.active {
    background-color: #25D366;
    width: 150px;
    border: 3px solid white;
    cursor: pointer;
}

.what-btn:hover .loguito,
.what-btn.active .loguito{
    filter: invert(0%);
}

.what-btn:hover>p,
.what-btn.active>p {
    color: white;
    width: auto;
    padding-left: 10px;
}

.loguito {
    position: relative;
    padding-left: 5px;
    filter: invert(100%);
}

/*.............*/

@media (max-width: 850px) {

    /* .title-page>header{
        height: 200px;
        justify-content: center;
        
    } */
    header {
        justify-content: center;
    }

    #header>img {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 15vw;
        padding: 0;
    }
    .botonera {
        left: auto;
        flex-direction:  column;
        display: none;
    }

    .botonera>button {
        padding: 0;
    }

    #header.displayed {
        height: 200px;
    }

    .botonera.show-btns {
        display: flex;
        
    }
   
    
    /*.........*/
}

/* .hidden{
    background-color: red;
} */
#header-btn {
    background-color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3%;
    right: 5%;
    border-radius: 10px;
    z-index: 11111;
}

#header-btn>img {
    height: 30px;
    width: 30px;
}
/*............*/


/* ....................... */

.application {
    background-color: #1E1E1E;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.application>h4{
    color: #FFF;
    font-family: Consolas;
    padding: 30px;
    font-size: 24px;
}
.application_box{
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    flex-wrap: wrap;
}

.application_movil>img{
    height: 600px;
}
.application_movil{
    flex-wrap: wrap;
    width: auto;
}
.application_links{
    color: white;
    font-family: Consolas;
    flex-wrap: wrap;
    width: auto;
}
.application_links>img{
    height: 150px;
}
.google-btn,.apple-btn:hover{
    cursor: pointer;
}

/* llll */

.ubication-page{
    border-top: 1px solid rgba(54, 54, 54, 0.707);
    background-color: #1E1E1E;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ubication_block{
    margin: 30px;
    background-color: #0b0b0b;
    display: flex;
    width: 60vw;
    min-width: 300px;
    justify-content: space-around;
    border-radius: 15px;
    overflow: hidden;
    flex-wrap: wrap;
    
}
.contactos{
    display: flex;
    /* background-color: #25D366; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    justify-content: space-around;
}
.contactos>h4{
    color: white;
    font-family: Consolas;
    font-size: 25px;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-right: 20px;
    
}
.botones>div{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 10px;
    margin: 5px;
    transition: ease-in-out;
    transition-duration: 100ms;
    border-radius: 3px;
}
.botones>div:hover{
    background-color: #303030;
    cursor: pointer;
}

.botones>div>p{
    color: white;
    font-family: Consolas;
    margin-left: 10px;
}


.logo{
    width: 44px;
height: 44px;
flex-shrink: 0;
border-radius: 9px;
background: linear-gradient(180deg, rgba(224, 44, 44, 0.69) 0%, rgba(122, 24, 24, 0.69) 100%);
display: flex;
align-items: center;
justify-content: center;
}